<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,80},{76,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,111}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>card_face_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,120},{72,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,109}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>card_face_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,120},{72,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,109}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>card_totem_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{90,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{82,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,116}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{78,118}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{78,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{76,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{76,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{68,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{68,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,82},{82,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,114}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,82},{90,106}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{90,106}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{78,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{78,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{72,106}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{72,106}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,82},{82,110}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{82,110}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{82,118}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{76,118}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{76,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,110},{82,92}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{82,92}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{78,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,118}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_totem_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{82,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{82,116}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,116},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,80},{38,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{38,34}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,82},{36,36}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,80},{34,30}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>card_value_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,166},{26,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,128},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,128},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,80},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,174},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,148},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,110},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,110},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,112},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,166},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,130},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,80},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_b_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,166},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,166},{26,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,174},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,148},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,80},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,148},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,130},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,112},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,170},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,82},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,154},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,154},{16,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,166},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card_value_r_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,170},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardAssets.png</string>
            <key>size</key>
            <string>{1020,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bf4fc4402785b3b3b1b53a39ba1cf3d:1/1$</string>
            <key>textureFileName</key>
            <string>CardAssets.png</string>
        </dict>
    </dict>
</plist>
